## Installs

In [ ]:
!pip install pyspark==3.1.2 -q
!pip install findspark -q

  Preparing metadata (setup.py) ... done
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 198.6/198.6 kB 3.3 MB/s eta 0:00:00
  Building wheel for pyspark (setup.py) ... done
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-spark-connect 0.5.2 requires pyspark>=3.5, but you have pyspark 3.1.2 which is incompatible.

## Imports

In [145]:
import kagglehub
import findspark
from pyspark.sql import SparkSession
from pyspark.ml.feature import VectorAssembler
from pyspark.sql.functions import col, sum, when, udf
from pyspark.sql.types import IntegerType
from pyspark.sql import functions as F
from pyspark.sql.functions import lit, to_date, datediff, current_date, expr
from pyspark.sql.functions import explode
from datetime import datetime
from pyspark.ml.feature import StandardScaler
from pyspark.ml.feature import StringIndexer
from pyspark.ml.regression import LinearRegression
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml import Pipeline
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.pipeline import PipelineModel
import warnings

## Utilities

In [95]:
def warn(*args, **kwargs):
    pass
findspark.init()

warnings.warn = warn
warnings.filterwarnings('ignore')

## Session Initialization

In [96]:
spark = SparkSession.builder.appName("PySpark_App").getOrCreate()

## Download the data file and Load the dataset

In [97]:
path = kagglehub.dataset_download("rhuebner/human-resources-data-set")
print("Path to dataset files:", path)

Path to dataset files: /root/.cache/kagglehub/datasets/rhuebner/human-resources-data-set/versions/4

In [98]:
hr_data = spark.read.csv(path, header=True, inferSchema=True) # Load CSV

#df = spark.read.parquet("path_to_file.parquet") # Load parquet
#df = spark.read.json("path_to_file.json") # Load JSON

## Data Exploration

In [99]:
hr_data.printSchema()
# hr_data.dtypes # To display column data types

root
 |-- Employee_Name: string (nullable = true)
 |-- EmpID: integer (nullable = true)
 |-- MarriedID: integer (nullable = true)
 |-- MaritalStatusID: integer (nullable = true)
 |-- GenderID: integer (nullable = true)
 |-- EmpStatusID: integer (nullable = true)
 |-- DeptID: integer (nullable = true)
 |-- PerfScoreID: integer (nullable = true)
 |-- FromDiversityJobFairID: integer (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- Termd: integer (nullable = true)
 |-- PositionID: integer (nullable = true)
 |-- Position: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Zip: integer (nullable = true)
 |-- DOB: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- MaritalDesc: string (nullable = true)
 |-- CitizenDesc: string (nullable = true)
 |-- HispanicLatino: string (nullable = true)
 |-- RaceDesc: string (nullable = true)
 |-- DateofHire: string (nullable = true)
 |-- DateofTermination: string (nullable = true)
 |-- TermReason: string (nullable = true)
 |-- EmploymentStatus: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- ManagerName: string (nullable = true)
 |-- ManagerID: integer (nullable = true)
 |-- RecruitmentSource: string (nullable = true)
 |-- PerformanceScore: string (nullable = true)
 |-- EngagementSurvey: double (nullable = true)
 |-- EmpSatisfaction: integer (nullable = true)
 |-- SpecialProjectsCount: integer (nullable = true)
 |-- LastPerformanceReview_Date: string (nullable = true)
 |-- DaysLateLast30: integer (nullable = true)
 |-- Absences: integer (nullable = true)

In [100]:
hr_data.show(3, truncate=False)

+------------------------+-----+---------+---------------+--------+-----------+------+-----------+----------------------+------+-----+----------+------------------------+-----+----+--------+---+-----------+-----------+--------------+--------+----------+-----------------+-----------------+----------------------+-----------------+--------------+---------+-----------------+----------------+----------------+---------------+--------------------+--------------------------+--------------+--------+
|Employee_Name           |EmpID|MarriedID|MaritalStatusID|GenderID|EmpStatusID|DeptID|PerfScoreID|FromDiversityJobFairID|Salary|Termd|PositionID|Position                |State|Zip |DOB     |Sex|MaritalDesc|CitizenDesc|HispanicLatino|RaceDesc|DateofHire|DateofTermination|TermReason       |EmploymentStatus      |Department       |ManagerName   |ManagerID|RecruitmentSource|PerformanceScore|EngagementSurvey|EmpSatisfaction|SpecialProjectsCount|LastPerformanceReview_Date|DaysLateLast30|Absences|
+------------------------+-----+---------+---------------+--------+-----------+------+-----------+----------------------+------+-----+----------+------------------------+-----+----+--------+---+-----------+-----------+--------------+--------+----------+-----------------+-----------------+----------------------+-----------------+--------------+---------+-----------------+----------------+----------------+---------------+--------------------+--------------------------+--------------+--------+
|Adinolfi, Wilson  K     |10026|0        |0              |1       |1          |5     |4          |0                     |62506 |0    |19        |Production Technician I |MA   |1960|07/10/83|M  |Single     |US Citizen |No            |White   |7/5/2011  |null             |N/A-StillEmployed|Active                |Production       |Michael Albert|22       |LinkedIn         |Exceeds         |4.6             |5              |0                   |1/17/2019                 |0             |1       |
|Ait Sidi, Karthikeyan   |10084|1        |1              |1       |5          |3     |3          |0                     |104437|1    |27        |Sr. DBA                 |MA   |2148|05/05/75|M  |Married    |US Citizen |No            |White   |3/30/2015 |6/16/2016        |career change    |Voluntarily Terminated|IT/IS            |Simon Roup    |4        |Indeed           |Fully Meets     |4.96            |3              |6                   |2/24/2016                 |0             |17      |
|Akinkuolie, Sarah       |10196|1        |1              |0       |5          |5     |3          |0                     |64955 |1    |20        |Production Technician II|MA   |1810|09/19/88|F  |Married    |US Citizen |No            |White   |7/5/2011  |9/24/2012        |hours            |Voluntarily Terminated|Production       |Kissy Sullivan|20       |LinkedIn         |Fully Meets     |3.02            |3              |0                   |5/15/2012                 |0             |3       |
+------------------------+-----+---------+---------------+--------+-----------+------+-----------+----------------------+------+-----+----------+------------------------+-----+----+--------+---+-----------+-----------+--------------+--------+----------+-----------------+-----------------+----------------------+-----------------+--------------+---------+-----------------+----------------+----------------+---------------+--------------------+--------------------------+--------------+--------+
only showing top 3 rows

In [101]:
print(f"Rows: {hr_data.count()}, Columns: {len(hr_data.columns)})")

Rows: 311, Columns: 36)

In [102]:
# Check for duplicate rows
total_rows = hr_data.count()
distinct_rows = hr_data.distinct().count()
duplicates_count = total_rows - distinct_rows

print(f"Number of duplicate rows: {duplicates_count}")

Number of duplicate rows: 0

In [103]:
hr_data.dropDuplicates() # Drop duplicate rows, if any

DataFrame[Employee_Name: string, EmpID: int, MarriedID: int, MaritalStatusID: int, GenderID: int, EmpStatusID: int, DeptID: int, PerfScoreID: int, FromDiversityJobFairID: int, Salary: int, Termd: int, PositionID: int, Position: string, State: string, Zip: int, DOB: string, Sex: string, MaritalDesc: string, CitizenDesc: string, HispanicLatino: string, RaceDesc: string, DateofHire: string, DateofTermination: string, TermReason: string, EmploymentStatus: string, Department: string, ManagerName: string, ManagerID: int, RecruitmentSource: string, PerformanceScore: string, EngagementSurvey: double, EmpSatisfaction: int, SpecialProjectsCount: int, LastPerformanceReview_Date: string, DaysLateLast30: int, Absences: int]

In [104]:
# Check for null values
null_counts = hr_data.select([sum(col(c).isNull().cast("int")).alias(c) for c in hr_data.columns])
null_counts.show()

+-------------+-----+---------+---------------+--------+-----------+------+-----------+----------------------+------+-----+----------+--------+-----+---+---+---+-----------+-----------+--------------+--------+----------+-----------------+----------+----------------+----------+-----------+---------+-----------------+----------------+----------------+---------------+--------------------+--------------------------+--------------+--------+
|Employee_Name|EmpID|MarriedID|MaritalStatusID|GenderID|EmpStatusID|DeptID|PerfScoreID|FromDiversityJobFairID|Salary|Termd|PositionID|Position|State|Zip|DOB|Sex|MaritalDesc|CitizenDesc|HispanicLatino|RaceDesc|DateofHire|DateofTermination|TermReason|EmploymentStatus|Department|ManagerName|ManagerID|RecruitmentSource|PerformanceScore|EngagementSurvey|EmpSatisfaction|SpecialProjectsCount|LastPerformanceReview_Date|DaysLateLast30|Absences|
+-------------+-----+---------+---------------+--------+-----------+------+-----------+----------------------+------+-----+----------+--------+-----+---+---+---+-----------+-----------+--------------+--------+----------+-----------------+----------+----------------+----------+-----------+---------+-----------------+----------------+----------------+---------------+--------------------+--------------------------+--------------+--------+
|            0|    0|        0|              0|       0|          0|     0|          0|                     0|     0|    0|         0|       0|    0|  0|  0|  0|          0|          0|             0|       0|         0|              207|         0|               0|         0|          0|        8|                0|               0|               0|              0|                   0|                         0|             0|       0|
+-------------+-----+---------+---------------+--------+-----------+------+-----------+----------------------+------+-----+----------+--------+-----+---+---+---+-----------+-----------+--------------+--------+----------+-----------------+----------+----------------+----------+-----------+---------+-----------------+----------------+----------------+---------------+--------------------+--------------------------+--------------+--------+

In [105]:
# Drop rows with null values
hr_data_cleaned = hr_data.dropna()

# Impute missing values (for a specific column)
# hr_data_cleaned.fillna({"DateofTermination": 0})

In [106]:
null_counts = hr_data_cleaned.select([sum(col(c).isNull().cast("int")).alias(c) for c in hr_data.columns])
null_counts.show()

+-------------+-----+---------+---------------+--------+-----------+------+-----------+----------------------+------+-----+----------+--------+-----+---+---+---+-----------+-----------+--------------+--------+----------+-----------------+----------+----------------+----------+-----------+---------+-----------------+----------------+----------------+---------------+--------------------+--------------------------+--------------+--------+
|Employee_Name|EmpID|MarriedID|MaritalStatusID|GenderID|EmpStatusID|DeptID|PerfScoreID|FromDiversityJobFairID|Salary|Termd|PositionID|Position|State|Zip|DOB|Sex|MaritalDesc|CitizenDesc|HispanicLatino|RaceDesc|DateofHire|DateofTermination|TermReason|EmploymentStatus|Department|ManagerName|ManagerID|RecruitmentSource|PerformanceScore|EngagementSurvey|EmpSatisfaction|SpecialProjectsCount|LastPerformanceReview_Date|DaysLateLast30|Absences|
+-------------+-----+---------+---------------+--------+-----------+------+-----------+----------------------+------+-----+----------+--------+-----+---+---+---+-----------+-----------+--------------+--------+----------+-----------------+----------+----------------+----------+-----------+---------+-----------------+----------------+----------------+---------------+--------------------+--------------------------+--------------+--------+
|            0|    0|        0|              0|       0|          0|     0|          0|                     0|     0|    0|         0|       0|    0|  0|  0|  0|          0|          0|             0|       0|         0|                0|         0|               0|         0|          0|        0|                0|               0|               0|              0|                   0|                         0|             0|       0|
+-------------+-----+---------+---------------+--------+-----------+------+-----------+----------------------+------+-----+----------+--------+-----+---+---+---+-----------+-----------+--------------+--------+----------+-----------------+----------+----------------+----------+-----------+---------+-----------------+----------------+----------------+---------------+--------------------+--------------------------+--------------+--------+

## Transformation

In [107]:
# Add a new column with a constant value using lit (literal) function
hr_data_cleaned = hr_data_cleaned.withColumn("PermanentEmployee", lit("yes"))
hr_data_cleaned.show(3)

+--------------------+-----+---------+---------------+--------+-----------+------+-----------+----------------------+------+-----+----------+--------------------+-----+----+--------+---+-----------+-----------+--------------+--------+----------+-----------------+----------------+--------------------+-----------------+--------------+---------+-----------------+----------------+----------------+---------------+--------------------+--------------------------+--------------+--------+-----------------+
|       Employee_Name|EmpID|MarriedID|MaritalStatusID|GenderID|EmpStatusID|DeptID|PerfScoreID|FromDiversityJobFairID|Salary|Termd|PositionID|            Position|State| Zip|     DOB|Sex|MaritalDesc|CitizenDesc|HispanicLatino|RaceDesc|DateofHire|DateofTermination|      TermReason|    EmploymentStatus|       Department|   ManagerName|ManagerID|RecruitmentSource|PerformanceScore|EngagementSurvey|EmpSatisfaction|SpecialProjectsCount|LastPerformanceReview_Date|DaysLateLast30|Absences|PermanentEmployee|
+--------------------+-----+---------+---------------+--------+-----------+------+-----------+----------------------+------+-----+----------+--------------------+-----+----+--------+---+-----------+-----------+--------------+--------+----------+-----------------+----------------+--------------------+-----------------+--------------+---------+-----------------+----------------+----------------+---------------+--------------------+--------------------------+--------------+--------+-----------------+
|Ait Sidi, Karthik...|10084|        1|              1|       1|          5|     3|          3|                     0|104437|    1|        27|             Sr. DBA|   MA|2148|05/05/75| M |    Married| US Citizen|            No|   White| 3/30/2015|        6/16/2016|   career change|Voluntarily Termi...|            IT/IS|    Simon Roup|        4|           Indeed|     Fully Meets|            4.96|              3|                   6|                 2/24/2016|             0|      17|              yes|
|   Akinkuolie, Sarah|10196|        1|              1|       0|          5|     5|          3|                     0| 64955|    1|        20|Production Techni...|   MA|1810|09/19/88|  F|    Married| US Citizen|            No|   White|  7/5/2011|        9/24/2012|           hours|Voluntarily Termi...|Production       |Kissy Sullivan|       20|         LinkedIn|     Fully Meets|            3.02|              3|                   0|                 5/15/2012|             0|       3|              yes|
|    Anderson, Carol |10069|        0|              2|       0|          5|     5|          3|                     0| 50825|    1|        19|Production Techni...|   MA|2169|09/08/89|  F|   Divorced| US Citizen|            No|   White| 7/11/2011|         9/6/2016|return to school|Voluntarily Termi...|Production       |Webster Butler|       39|    Google Search|     Fully Meets|             5.0|              4|                   0|                  2/1/2016|             0|       2|              yes|
+--------------------+-----+---------+---------------+--------+-----------+------+-----------+----------------------+------+-----+----------+--------------------+-----+----+--------+---+-----------+-----------+--------------+--------+----------+-----------------+----------------+--------------------+-----------------+--------------+---------+-----------------+----------------+----------------+---------------+--------------------+--------------------------+--------------+--------+-----------------+
only showing top 3 rows

In [108]:
# Drop columns
hr_data_cleaned = hr_data_cleaned.drop("EmpStatusID","FromDiversityJobFairID")
hr_data_cleaned.show(3)

+--------------------+-----+---------+---------------+--------+------+-----------+------+-----+----------+--------------------+-----+----+--------+---+-----------+-----------+--------------+--------+----------+-----------------+----------------+--------------------+-----------------+--------------+---------+-----------------+----------------+----------------+---------------+--------------------+--------------------------+--------------+--------+-----------------+
|       Employee_Name|EmpID|MarriedID|MaritalStatusID|GenderID|DeptID|PerfScoreID|Salary|Termd|PositionID|            Position|State| Zip|     DOB|Sex|MaritalDesc|CitizenDesc|HispanicLatino|RaceDesc|DateofHire|DateofTermination|      TermReason|    EmploymentStatus|       Department|   ManagerName|ManagerID|RecruitmentSource|PerformanceScore|EngagementSurvey|EmpSatisfaction|SpecialProjectsCount|LastPerformanceReview_Date|DaysLateLast30|Absences|PermanentEmployee|
+--------------------+-----+---------+---------------+--------+------+-----------+------+-----+----------+--------------------+-----+----+--------+---+-----------+-----------+--------------+--------+----------+-----------------+----------------+--------------------+-----------------+--------------+---------+-----------------+----------------+----------------+---------------+--------------------+--------------------------+--------------+--------+-----------------+
|Ait Sidi, Karthik...|10084|        1|              1|       1|     3|          3|104437|    1|        27|             Sr. DBA|   MA|2148|05/05/75| M |    Married| US Citizen|            No|   White| 3/30/2015|        6/16/2016|   career change|Voluntarily Termi...|            IT/IS|    Simon Roup|        4|           Indeed|     Fully Meets|            4.96|              3|                   6|                 2/24/2016|             0|      17|              yes|
|   Akinkuolie, Sarah|10196|        1|              1|       0|     5|          3| 64955|    1|        20|Production Techni...|   MA|1810|09/19/88|  F|    Married| US Citizen|            No|   White|  7/5/2011|        9/24/2012|           hours|Voluntarily Termi...|Production       |Kissy Sullivan|       20|         LinkedIn|     Fully Meets|            3.02|              3|                   0|                 5/15/2012|             0|       3|              yes|
|    Anderson, Carol |10069|        0|              2|       0|     5|          3| 50825|    1|        19|Production Techni...|   MA|2169|09/08/89|  F|   Divorced| US Citizen|            No|   White| 7/11/2011|         9/6/2016|return to school|Voluntarily Termi...|Production       |Webster Butler|       39|    Google Search|     Fully Meets|             5.0|              4|                   0|                  2/1/2016|             0|       2|              yes|
+--------------------+-----+---------+---------------+--------+------+-----------+------+-----+----------+--------------------+-----+----+--------+---+-----------+-----------+--------------+--------+----------+-----------------+----------------+--------------------+-----------------+--------------+---------+-----------------+----------------+----------------+---------------+--------------------+--------------------------+--------------+--------+-----------------+
only showing top 3 rows

In [109]:
# Rename a column
hr_data_cleaned = hr_data_cleaned.withColumnRenamed("EmpID", "EmpNo")
hr_data_cleaned.show(3)

+--------------------+-----+---------+---------------+--------+------+-----------+------+-----+----------+--------------------+-----+----+--------+---+-----------+-----------+--------------+--------+----------+-----------------+----------------+--------------------+-----------------+--------------+---------+-----------------+----------------+----------------+---------------+--------------------+--------------------------+--------------+--------+-----------------+
|       Employee_Name|EmpNo|MarriedID|MaritalStatusID|GenderID|DeptID|PerfScoreID|Salary|Termd|PositionID|            Position|State| Zip|     DOB|Sex|MaritalDesc|CitizenDesc|HispanicLatino|RaceDesc|DateofHire|DateofTermination|      TermReason|    EmploymentStatus|       Department|   ManagerName|ManagerID|RecruitmentSource|PerformanceScore|EngagementSurvey|EmpSatisfaction|SpecialProjectsCount|LastPerformanceReview_Date|DaysLateLast30|Absences|PermanentEmployee|
+--------------------+-----+---------+---------------+--------+------+-----------+------+-----+----------+--------------------+-----+----+--------+---+-----------+-----------+--------------+--------+----------+-----------------+----------------+--------------------+-----------------+--------------+---------+-----------------+----------------+----------------+---------------+--------------------+--------------------------+--------------+--------+-----------------+
|Ait Sidi, Karthik...|10084|        1|              1|       1|     3|          3|104437|    1|        27|             Sr. DBA|   MA|2148|05/05/75| M |    Married| US Citizen|            No|   White| 3/30/2015|        6/16/2016|   career change|Voluntarily Termi...|            IT/IS|    Simon Roup|        4|           Indeed|     Fully Meets|            4.96|              3|                   6|                 2/24/2016|             0|      17|              yes|
|   Akinkuolie, Sarah|10196|        1|              1|       0|     5|          3| 64955|    1|        20|Production Techni...|   MA|1810|09/19/88|  F|    Married| US Citizen|            No|   White|  7/5/2011|        9/24/2012|           hours|Voluntarily Termi...|Production       |Kissy Sullivan|       20|         LinkedIn|     Fully Meets|            3.02|              3|                   0|                 5/15/2012|             0|       3|              yes|
|    Anderson, Carol |10069|        0|              2|       0|     5|          3| 50825|    1|        19|Production Techni...|   MA|2169|09/08/89|  F|   Divorced| US Citizen|            No|   White| 7/11/2011|         9/6/2016|return to school|Voluntarily Termi...|Production       |Webster Butler|       39|    Google Search|     Fully Meets|             5.0|              4|                   0|                  2/1/2016|             0|       2|              yes|
+--------------------+-----+---------+---------------+--------+------+-----------+------+-----+----------+--------------------+-----+----+--------+---+-----------+-----------+--------------+--------+----------+-----------------+----------------+--------------------+-----------------+--------------+---------+-----------------+----------------+----------------+---------------+--------------------+--------------------------+--------------+--------+-----------------+
only showing top 3 rows

## Exploratory Data Analysis

In [119]:
# Select specific columns for analysis
cols = ["MaritalStatusID","GenderID", "DeptID", "PerfScoreID", "Termd", "PositionID", "ManagerID"]

hr_num = hr_data_cleaned.select(cols)

In [120]:
# Show summary statistics
hr_num.select(cols).describe().show()

+-------+------------------+------------------+------------------+------------------+-----+------------------+------------------+
|summary|   MaritalStatusID|          GenderID|            DeptID|       PerfScoreID|Termd|        PositionID|         ManagerID|
+-------+------------------+------------------+------------------+------------------+-----+------------------+------------------+
|  count|               104|               104|               104|               104|  104|               104|               104|
|   mean|0.9423076923076923|0.4230769230769231| 4.711538461538462|2.9038461538461537|  1.0|18.134615384615383|16.903846153846153|
| stddev|0.9433149879770784|0.4964399022537007|0.9208805086045133|0.5663583340159615|  0.0| 4.975781525788927|10.380638466221276|
|    min|                 0|                 0|                 1|                 1|    1|                 2|                 1|
|    max|                 4|                 1|                 6|                 4|    1|                30|                39|
+-------+------------------+------------------+------------------+------------------+-----+------------------+------------------+

In [121]:
# Show unique values in a specific column
unique_PerformanceScore = hr_data_cleaned.select(["PerformanceScore", "GenderID"]).distinct()
unique_PerformanceScore.show()

+-----------------+--------+
| PerformanceScore|GenderID|
+-----------------+--------+
|              PIP|       1|
|      Fully Meets|       0|
|      Fully Meets|       1|
|          Exceeds|       1|
|          Exceeds|       0|
|              PIP|       0|
|Needs Improvement|       1|
|Needs Improvement|       0|
+-----------------+--------+

In [122]:
unique_Last = hr_data_cleaned.select(["DaysLateLast30"]).distinct().show()

+--------------+
|DaysLateLast30|
+--------------+
|             1|
|             6|
|             3|
|             5|
|             4|
|             0|
+--------------+

In [123]:
# Filer data by genderID and show count
gen_0 = hr_data_cleaned.filter(hr_data_cleaned.GenderID == 0)
gen_1 = hr_data_cleaned.filter(hr_data_cleaned.GenderID == 1)

print(f"Count of genderID=0: {gen_0.count()},: Count of genderID=1: {gen_1.count()}")

Count of genderID=0: 60,: Count of genderID=1: 44

In [124]:
# Filter data by colummn
top_performer_data = hr_data_cleaned.filter(hr_data_cleaned.PerformanceScore == "Exceeds")
absence_data = hr_data_cleaned.filter(hr_data_cleaned.Absences > 19)

In [125]:
top_performer_data.show(3)

+----------------+-----+---------+---------------+--------+------+-----------+------+-----+----------+--------------------+-----+----+--------+---+-----------+-----------+--------------+--------------------+----------+-----------------+----------------+--------------------+--------------------+---------------+---------+------------------+----------------+----------------+---------------+--------------------+--------------------------+--------------+--------+-----------------+
|   Employee_Name|EmpNo|MarriedID|MaritalStatusID|GenderID|DeptID|PerfScoreID|Salary|Termd|PositionID|            Position|State| Zip|     DOB|Sex|MaritalDesc|CitizenDesc|HispanicLatino|            RaceDesc|DateofHire|DateofTermination|      TermReason|    EmploymentStatus|          Department|    ManagerName|ManagerID| RecruitmentSource|PerformanceScore|EngagementSurvey|EmpSatisfaction|SpecialProjectsCount|LastPerformanceReview_Date|DaysLateLast30|Absences|PermanentEmployee|
+----------------+-----+---------+---------------+--------+------+-----------+------+-----+----------+--------------------+-----+----+--------+---+-----------+-----------+--------------+--------------------+----------+-----------------+----------------+--------------------+--------------------+---------------+---------+------------------+----------------+----------------+---------------+--------------------+--------------------------+--------------+--------+-----------------+
| Johnson, George|10034|        1|              1|       1|     5|          4| 46837|    1|        19|Production Techni...|   MA|2445|08/19/59| M |    Married| US Citizen|            No|               White| 11/7/2011|        4/29/2018|      more money|Voluntarily Termi...|   Production       | Michael Albert|       22|     CareerBuilder|         Exceeds|             4.7|              4|                   0|                 2/14/2018|             0|       9|              yes|
|  Lynch, Lindsay|10004|        0|              0|       0|     5|          4| 47434|    1|        19|Production Techni...|   MA|1844|02/14/73|  F|     Single| US Citizen|           Yes|Black or African ...| 11/7/2011|       11/14/2015|Another position|Voluntarily Termi...|   Production       | Webster Butler|       39|Diversity Job Fair|         Exceeds|             5.0|              4|                   0|                  2/2/2015|             0|      17|              yes|
|Patronick, Lucas|10005|        0|              0|       1|     4|          4|108987|    1|        24|   Software Engineer|   MA|1844|02/20/79| M |     Single| US Citizen|            No|Black or African ...| 11/7/2011|         9/7/2015|Another position|Voluntarily Termi...|Software Engineering|Alex Sweetwater|       10|Diversity Job Fair|         Exceeds|             5.0|              5|                   3|                 8/16/2015|             0|      13|              yes|
+----------------+-----+---------+---------------+--------+------+-----------+------+-----+----------+--------------------+-----+----+--------+---+-----------+-----------+--------------+--------------------+----------+-----------------+----------------+--------------------+--------------------+---------------+---------+------------------+----------------+----------------+---------------+--------------------+--------------------------+--------------+--------+-----------------+
only showing top 3 rows

In [126]:
absence_data.show(3)

+--------------------+-----+---------+---------------+--------+------+-----------+------+-----+----------+--------------------+-----+-----+--------+---+-----------+-----------+--------------+-----------------+----------+-----------------+--------------------+--------------------+-----------------+-------------+---------+-----------------+----------------+----------------+---------------+--------------------+--------------------------+--------------+--------+-----------------+
|       Employee_Name|EmpNo|MarriedID|MaritalStatusID|GenderID|DeptID|PerfScoreID|Salary|Termd|PositionID|            Position|State|  Zip|     DOB|Sex|MaritalDesc|CitizenDesc|HispanicLatino|         RaceDesc|DateofHire|DateofTermination|          TermReason|    EmploymentStatus|       Department|  ManagerName|ManagerID|RecruitmentSource|PerformanceScore|EngagementSurvey|EmpSatisfaction|SpecialProjectsCount|LastPerformanceReview_Date|DaysLateLast30|Absences|PermanentEmployee|
+--------------------+-----+---------+---------------+--------+------+-----------+------+-----+----------+--------------------+-----+-----+--------+---+-----------+-----------+--------------+-----------------+----------+-----------------+--------------------+--------------------+-----------------+-------------+---------+-----------------+----------------+----------------+---------------+--------------------+--------------------------+--------------+--------+-----------------+
|       Bates, Norman|10061|        0|              0|       1|     5|          3| 57834|    1|        19|Production Techni...|   MA| 2050|10/18/81| M |     Single| US Citizen|            No|            White| 2/21/2011|         8/4/2017|          attendance|Terminated for Cause|Production       |Kelley Spirea|       18|    Google Search|     Fully Meets|             5.0|              4|                   0|                  4/5/2017|             0|      20|              yes|
|Fitzpatrick, Mich...|10093|        0|              0|       1|     5|          3| 72609|    1|        20|Production Techni...|   MA| 2143|10/01/81| M |     Single| US Citizen|           Yes|            White| 5/16/2011|        6/24/2013|               hours|Voluntarily Termi...|Production       |     Amy Dunn|       11|    Google Search|     Fully Meets|            4.76|              5|                   0|                  4/5/2013|             0|      20|              yes|
|     Guilianno, Mike|10109|        0|              0|       1|     6|          3| 71707|    1|         3|  Area Sales Manager|   TN|37129|02/09/69| M |     Single| US Citizen|            No|Two or more races|  3/7/2012|       10/31/2014|relocation out of...|Voluntarily Termi...|            Sales|   John Smith|       17|         LinkedIn|     Fully Meets|             4.5|              5|                   0|                  2/1/2013|             0|      20|              yes|
+--------------------+-----+---------+---------------+--------+------+-----------+------+-----+----------+--------------------+-----+-----+--------+---+-----------+-----------+--------------+-----------------+----------+-----------------+--------------------+--------------------+-----------------+-------------+---------+-----------------+----------------+----------------+---------------+--------------------+--------------------------+--------------+--------+-----------------+
only showing top 3 rows

## Data Manipulation

In [127]:
# Increment of 10% in salaries of those with Exceees performance
top_performer_data = hr_data_cleaned.withColumn(
    "Salary", when(col("PerformanceScore") == "Exceeds", col("Salary") * 1.1).otherwise(col("Salary")))

In [128]:
# Deduction of 5% from salaries for those with absences more than 19
absence_data = hr_data_cleaned.withColumn(
    "Salary", when(col("Absences") > 19, col("Salary") * 1.1).otherwise(col("Salary")))

In [129]:
hr_data_cleaned = hr_data_cleaned.withColumn("DateofHire", to_date(col("DateofHire"), "M/d/yyyy"))

hr_data_cleaned = hr_data_cleaned.withColumn("DateofTermination", to_date(col("DateofTermination"), "M/d/yyyy"))

hr_data_cleaned = hr_data_cleaned.withColumn("Tenure", (datediff(col("DateofTermination"), col("DateofHire")) / 365).cast("int"))

hr_data_cleaned.select("DateofHire", "DateofTermination", "Tenure").show(3, False)

+----------+-----------------+------+
|DateofHire|DateofTermination|Tenure|
+----------+-----------------+------+
|2015-03-30|2016-06-16       |1     |
|2011-07-05|2012-09-24       |1     |
|2011-07-11|2016-09-06       |5     |
+----------+-----------------+------+
only showing top 3 rows

## Save the file

In [130]:
hr_data_cleaned.write.mode("overwrite").csv("new_hr_data.csv", header=True)
# #If you do not wish to over write use df.write.csv("new_hr_data.csv", header=True)

## Aggregation & Grouping

In [131]:
# Show average salary per department
hr_data_cleaned.groupBy("DeptID").agg({"Salary": "avg"}).show()

+------+------------------+
|DeptID|       avg(Salary)|
+------+------------------+
|     1|           62761.0|
|     6|           68917.8|
|     3|          107274.9|
|     5| 59246.55421686747|
|     4|102894.33333333333|
+------+------------------+

In [132]:
# Show min and max salaries per department
hr_data_cleaned.groupBy("DeptID").agg(
    F.min("Salary").alias("min(Salary)"),
    F.max("Salary").alias("max(Salary)")
).show()

+------+-----------+-----------+
|DeptID|min(Salary)|max(Salary)|
+------+-----------+-----------+
|     1|      49920|      83363|
|     6|      59370|      74326|
|     3|      75281|     148999|
|     5|      45115|      83082|
|     4|      99280|     108987|
+------+-----------+-----------+

In [133]:
# Show average salary and average Employee Satisfaction per department
hr_data_cleaned.groupBy("DeptID").agg({"Salary": "avg", "EmpSatisfaction": "avg"}).show()

+------+------------------+--------------------+
|DeptID|       avg(Salary)|avg(EmpSatisfaction)|
+------+------------------+--------------------+
|     1|           62761.0|  3.6666666666666665|
|     6|           68917.8|                 4.8|
|     3|          107274.9|                 3.6|
|     5| 59246.55421686747|   3.855421686746988|
|     4|102894.33333333333|   4.333333333333333|
+------+------------------+--------------------+

In [134]:
# Show count values of Employee Satisfaction
hr_data_cleaned.groupBy("EmpSatisfaction").count().show()

+---------------+-----+
|EmpSatisfaction|count|
+---------------+-----+
|              3|   33|
|              5|   29|
|              4|   38|
|              2|    4|
+---------------+-----+

## Sorting

In [135]:
hr_data_cleaned.orderBy("Tenure").show(3)

+--------------------+-----+---------+---------------+--------+------+-----------+------+-----+----------+--------------------+-----+----+--------+---+-----------+-----------+--------------+--------+----------+-----------------+--------------------+--------------------+-----------------+--------------+---------+-----------------+----------------+----------------+---------------+--------------------+--------------------------+--------------+--------+-----------------+------+
|       Employee_Name|EmpNo|MarriedID|MaritalStatusID|GenderID|DeptID|PerfScoreID|Salary|Termd|PositionID|            Position|State| Zip|     DOB|Sex|MaritalDesc|CitizenDesc|HispanicLatino|RaceDesc|DateofHire|DateofTermination|          TermReason|    EmploymentStatus|       Department|   ManagerName|ManagerID|RecruitmentSource|PerformanceScore|EngagementSurvey|EmpSatisfaction|SpecialProjectsCount|LastPerformanceReview_Date|DaysLateLast30|Absences|PermanentEmployee|Tenure|
+--------------------+-----+---------+---------------+--------+------+-----------+------+-----+----------+--------------------+-----+----+--------+---+-----------+-----------+--------------+--------+----------+-----------------+--------------------+--------------------+-----------------+--------------+---------+-----------------+----------------+----------------+---------------+--------------------+--------------------------+--------------+--------+-----------------+------+
|       Goble, Taisha|10246|        0|              0|       0|     3|          3|114800|    1|         8|Database Administ...|   MA|2127|10/23/71|  F|     Single| US Citizen|            No|   White|2015-02-16|       2015-03-15|    no-call, no-show|Terminated for Cause|            IT/IS|    Simon Roup|        4|           Indeed|     Fully Meets|             4.6|              4|                   4|                 1/20/2015|             0|      10|              yes|     0|
|    Purinton, Janine|10262|        0|              2|       0|     5|          3| 46430|    1|        19|Production Techni...|   MA|2474|09/22/70|  F|   Divorced| US Citizen|            No|   White|2012-09-24|       2013-06-18|             unhappy|Voluntarily Termi...|Production       |Kissy Sullivan|       20|           Indeed|     Fully Meets|             4.5|              5|                   0|                  4/2/2013|             0|      16|              yes|     0|
|Homberger, Adrien...|10195|        1|              1|       0|     5|          3| 63478|    1|        20|Production Techni...|   MA|2445|02/16/84|  F|    Married|Non-Citizen|            No|   White|2011-08-15|       2012-04-07|relocation out of...|Voluntarily Termi...|Production       |Michael Albert|       30|           Indeed|     Fully Meets|            3.03|              5|                   0|                  3/5/2012|             0|      16|              yes|     0|
+--------------------+-----+---------+---------------+--------+------+-----------+------+-----+----------+--------------------+-----+----+--------+---+-----------+-----------+--------------+--------+----------+-----------------+--------------------+--------------------+-----------------+--------------+---------+-----------------+----------------+----------------+---------------+--------------------+--------------------------+--------------+--------+-----------------+------+
only showing top 3 rows

## DataFrame Caching

In [136]:
hr_data_cleaned.cache()  # Cache DataFrame in memory

# When you cache a DataFrame, Spark keeps the data in memory,
# which can help speed up subsequent actions and transformations that need to access the data,
# as it avoids re-reading or recomputing the data from the source (e.g., from a file, database, etc.).

DataFrame[Employee_Name: string, EmpNo: int, MarriedID: int, MaritalStatusID: int, GenderID: int, DeptID: int, PerfScoreID: int, Salary: int, Termd: int, PositionID: int, Position: string, State: string, Zip: int, DOB: string, Sex: string, MaritalDesc: string, CitizenDesc: string, HispanicLatino: string, RaceDesc: string, DateofHire: date, DateofTermination: date, TermReason: string, EmploymentStatus: string, Department: string, ManagerName: string, ManagerID: int, RecruitmentSource: string, PerformanceScore: string, EngagementSurvey: double, EmpSatisfaction: int, SpecialProjectsCount: int, LastPerformanceReview_Date: string, DaysLateLast30: int, Absences: int, PermanentEmployee: string, Tenure: int]

## Joins

In [137]:
#df1.join(df2, df1["key"] == df2["key"], "inner").show()
#df1.join(df2, on="key", how="left").show()

## Partitioning and Coalescing:

In [138]:
hr_data_cleaned.repartition(5) # Divides the data into 5 subsets and runs in paralell in multiple nodes, if available

DataFrame[Employee_Name: string, EmpNo: int, MarriedID: int, MaritalStatusID: int, GenderID: int, DeptID: int, PerfScoreID: int, Salary: int, Termd: int, PositionID: int, Position: string, State: string, Zip: int, DOB: string, Sex: string, MaritalDesc: string, CitizenDesc: string, HispanicLatino: string, RaceDesc: string, DateofHire: date, DateofTermination: date, TermReason: string, EmploymentStatus: string, Department: string, ManagerName: string, ManagerID: int, RecruitmentSource: string, PerformanceScore: string, EngagementSurvey: double, EmpSatisfaction: int, SpecialProjectsCount: int, LastPerformanceReview_Date: string, DaysLateLast30: int, Absences: int, PermanentEmployee: string, Tenure: int]

In [139]:
hr_data_cleaned.coalesce(1) #Repartitioning

DataFrame[Employee_Name: string, EmpNo: int, MarriedID: int, MaritalStatusID: int, GenderID: int, DeptID: int, PerfScoreID: int, Salary: int, Termd: int, PositionID: int, Position: string, State: string, Zip: int, DOB: string, Sex: string, MaritalDesc: string, CitizenDesc: string, HispanicLatino: string, RaceDesc: string, DateofHire: date, DateofTermination: date, TermReason: string, EmploymentStatus: string, Department: string, ManagerName: string, ManagerID: int, RecruitmentSource: string, PerformanceScore: string, EngagementSurvey: double, EmpSatisfaction: int, SpecialProjectsCount: int, LastPerformanceReview_Date: string, DaysLateLast30: int, Absences: int, PermanentEmployee: string, Tenure: int]

## Exploding an array into rows

ID	Skills

1	["Python", "Java"]

2	["SQL", "Spark", "R"]

3	["Excel", "Power BI"]

In [ ]:
# Exploding an array into rows
#hr_data_cleaned.withColumn("GenderID", explode(col("Language"))).show()

## Define the Pipeline

In [142]:
# Assemble the input columns into a single vector
vectorAssembler = VectorAssembler(inputCols=["MaritalStatusID","GenderID", "DeptID", "PerfScoreID", "Termd",
                                             "PositionID", "ManagerID"], outputCol="features")

In [143]:
# Scale the features using standard scaler
scaler = StandardScaler(inputCol="features", outputCol="scaledFeatures")

In [144]:
# Create a linear regression instance
lr = LinearRegression(featuresCol="features", labelCol="Salary")

## Build the Pipeline

In [146]:
pipeline = Pipeline(stages=[vectorAssembler, scaler, lr])

## Data Split

In [148]:
(training_data, testing_data) = hr_data_cleaned.randomSplit([0.8, 0.2], seed=42)

## Fit the Pipeline

In [150]:
model = pipeline.fit(training_data)

## Model Evaluation

In [151]:
predictions = model.transform(testing_data)

In [152]:
evaluator = RegressionEvaluator(labelCol="Salary", predictionCol="prediction", metricName="r2")
r2 = evaluator.evaluate(predictions)
print("R Squared =", r2)

R Squared = 0.6093782743575561

In [153]:
evaluator = RegressionEvaluator(labelCol="Salary", predictionCol="prediction", metricName="rmse")
rmse = evaluator.evaluate(predictions)
print("RMSE =", rmse)

RMSE = 10985.204590156689

## Save the Model

In [162]:
model.write().overwrite().save("./")

## Load the Model

In [ ]:
loaded_model = PipelineModel.load("./")

## Predict using the Loaded Model

In [ ]:
predictions = loaded_model.transform(testing_data)

## Stop the Spark session

In [ ]:
spark.stop()